html,
body {
  width: 100%;
  height: 100%;
  font-family: OpenSans;
  color: #ffffff;
  background: #EDEDED;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
/* Header */
.header {
  background: url(../img/HeaderBG.png) no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #293B47;
  opacity: 0.7;
  z-index: 1;
}
.container {
  width: 1170px;
  margin: 0 auto;
  padding-top: 25px;
  position: relative;
  z-index: 2;
}
.content {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: content;
      -ms-flex-align: content;
          align-items: content;
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}
.logo_underline {
  position: relative;
}
.logo_underline:before {
  content: '';
  position: absolute;
  width: 285px;
  height: 1px;
  top: -8px;
  left: 3px;
  background: white;
}
.logo_contact {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.contactmail {
  color: white;
}
.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}
.title_header {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
}
.title_text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 88px 0 30px;
  letter-spacing: 0.079em;
}
.title_color {
  color: #FAE771;
}
.contactForm {
  background: white;
  border-radius: 5px;
  width: 574px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
.contactForm_input {
  padding: 22px 0 22px 20px;
  color: #a6a6a6;
  font-size: 14px;
  font-weight: 400;
  border: none;
  min-width: 350px;
}
.contactForm_button {
  padding: 25px 59px;
  background-color: #bf0508;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
}
.scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 66px;
}
.scroll > img {
  margin: 0 auto;
}
/* Main */
.secondScreen {
  margin-top: 25px;
}
.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}
.section_head {
  color: #262626;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 23px;
  text-transform: uppercase;
}
.OurServices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}
.OurServices_content {
  margin: 0 15px;
  background: white;
}
.OurServices_title {
  text-transform: uppercase;
  color: #242728;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  padding: 29px;
  line-height: 16px;
}
.main_services {
  text-align: center;
  margin-bottom: 61px;
}
.services {
  width: 1210px;
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services_element {
  width: 370px;
  margin: 15px;
  min-height: 340px;
  background: white;
}
.services_header {
  color: #262626;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.services_title {
  color: #242728;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}
.services_button {
  border-radius: 5px;
  background-color: #ffd800;
  width: 230px;
  height: 45px;
  position: absolute;
  margin-top: 172px;
  margin-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services_button > a {
  color: #150a0c;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}
.list_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #575757;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  width: 400px;
  background-color: #EDEDED;
}
.list_object {
  width: 770px;
  padding: 50px 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.list .name {
  padding: 16px 65px 13px 28px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.list .name:hover {
  background: #F5F5F5;
  color: #B39398 ;
}
.list .name:active {
  background: white;
  color: #242728;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
}
.photoTitle {
  margin-top: 50px;
  color: #242728;
  font-size: 24px;
  font-weight: 700;
  line-height: 8px;
  text-align: left;
}
.photoSubtitle {
  color: #575757;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  width: 605px;
}
/* Help */
.help {
  background: url(../img/help.jpg) no-repeat;
  background-size: cover;
  position: relative;
  min-height: 339px;
  padding-top: 150px;
}
.help:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #293B47;
  opacity: 0.7;
  z-index: 1;
}
.help_contactForm {
  margin-top: 65px;
}
.thirdScreen {
  margin-top: 20px;
}
.section_head-color {
  font-family: OpenSans;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
.services_element {
  background: transparent;
}
.services_header-size {
  color: #575757;
  font-size: 18px;
  font-weight: 400;
  line-height: 8px;
  text-align: center;
}
.main_services_decorate > .services > .services_element > .control > .services_title {
  font-family: OpenSans;
  color: #575757;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-top: 15px;
}
/* VISIT */
.help_second {
  background: url(../img/signup.jpg) no-repeat;
  background-size: cover;
}
.section_head-color > span {
  font-family: OpenSans;
  color: #ead01e;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
/* DISCOUNTS */
.discount {
  padding: 25px 0 80px;
  background: white;
}
.sale_title {
  font-family: OpenSans;
  color: #575757;
  font-size: 18px;
  font-weight: 400;
  line-height: 8px;
  text-align: center;
  text-transform: none;
}
.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.percent {
  margin-top: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.percent_sale {
  font-family: OpenSans;
  color: #575757;
  font-size: 14px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  width: 257px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sal {
  font-family: OpenSans;
  color: #150a0c;
  font-size: 14px;
  font-weight: 700;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
}
.numb {
  font-family: OpenSans;
  color: red;
  font-size: 60px;
  font-weight: 700;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  margin: 24px 0 23px;
}
/* MAP */
.about {
  margin-top: 0;
  background: #000000 url(../img/map.jpg) no-repeat;
  background-size: cover;
  position: relative;
}
.about:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(transparent));
  background: linear-gradient(#000000, transparent);
  height: 368px;
}
.section_about {
  margin-bottom: 0;
}
.map {
  min-height: 600px;
}
.map > p {
  text-align: center;
  margin-top: 21px;
}
.map_tel {
  margin-right: 144px;
  font-size: 18px;
  font-weight: 700;
  line-height: 8px;
}
.mailAd {
  color: white;
}
/* FOOTER */
.footer {
  background: #1C1C1C;
  width: 100%;
  margin-top: -15px;
  padding: 10px 0 40px;
}
.footer_img {
  margin-right: 52px;
}
.footer_imageBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 50px;
}
.footer_head {
  text-transform: uppercase;
}
.footer_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_title,
.footer_subtitle {
  width: 565px;
  margin: 0 auto;
  font-family: OpenSans;
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  text-align: center;
}
.footer_title {
  line-height: 45px;
}
