* {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color:  #e1e1e1;
	line-height: 26px;
}
html, body {
	padding: 0;
	margin: 0;
	width:100%;
	height: 100%;

}
.main {
	background: url(../img/mainbg.png) ;
	background-size: cover;
	position: relative;
	width:100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center
}
.product_block {
	position: absolute;
	width: 686px;
	height: 391px;
	border-radius: 10px;
	background-color:  #111a28;
	box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.82);

}
.product_block-logo {
	margin: 24px 0 0 21px;
}
.product_block-content {
	display: flex;
	justify-content: space-between;
	align-items:top;
	min-height: 260px;

}
.content_about {
	min-width: 242px;
}
.content_main-foto {
	margin: 65px 0 0 36px;
}
h1 {
	font-size: 24px;	
}
h2 {
	font-size: 14px;
	color:  #e1e1e1;	
}
.content_about-star {
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	width:70px;
	direction: rtl;
	}
.fa-star {
	color: #ADB1B5;

}
.fa-star:hover~ .fa-star,
.fa-star:hover {
	color: #FAC919;
}
.content_about-button {
	display: flex;
	margin-top:27px; 
}
.button_log {
	margin-left: 9px;
}
.button {
	border-width: 1px;
	border-color:  #ffffff;
	border-style: solid;
	background-color:  #111a28;
	opacity: 0.26;
	display: flex;
	justify-content: center;
	align-items:center;
	text-decoration: none;
	font-size: 14px;
	padding: 6px 7px; 
	margin-right: 2px;
}
.product_block_select-color {
	display: flex;
	justify-content: center;

}
.dote {
	border-radius: 50%;
	background-color:  #ffffff;
	width: 9px;
	height: 9px;
	margin-right: 10px;
	border-width: 2px;
	border-color:  transparent;
	border-style: solid;
}
.dote_1{
	background-color:  #1f273f;
}
.dote_2{
	background-color:  #ffffff;
}
.dote_3{
	background-color:  #ed3333;
}
.dote_4{
	background-color:  #29e3ea;
}
.product_block_select-color {
	margin-top: 65px;	;
}
.dote:hover {
border-width: 2px;
border-color:  #ffffff;
border-style: solid;
transform: scale(1.5);
}
.button-BY {
	display: flex;
	background-color:  #4c525a;
	margin-top: 29px;
	width:184px;
}