html,
body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
.mainblock {
  width: 1000px;
  margin: 0 auto;
}
.mainblock .mainblock_header {
  margin-top: 112px;
  text-align: center;
}
.mainblock .mainblock_header .subtitle {
  font-family: Raleway;
  color: #898f8f;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.mainblock .mainblock_header .title {
  font-family: Roboto;
  color: #ffcc00;
  font-size: 60px;
  font-weight: 900;
  line-height: 66px;
}
.mainblock .mainblock_header .underline {
  margin: 54px 0 39px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainblock .mainblock_header .underline .line1,
.mainblock .mainblock_header .underline .line3 {
  background-color: #ffcc00;
  width: 210px;
  height: 1px;
}
.mainblock .mainblock_header .underline .line2 {
  margin: 0 7px;
}
.mainblock .mainblock_about {
  display: flex;
  height: 560px;
}
.mainblock .mainblock_about .foto {
  border-right: 1px solid #ffcc00;
  width: 50%;
  display: flex;
  align-items: center;
}
.mainblock .mainblock_about .foto .frame {
  border: 1px solid #ffcc00;
}
.mainblock .mainblock_about .text {
  flex-direction: column;
  justify-content: center;
  width: 50%;
  display: flex;
  align-items: center;
}
.mainblock .mainblock_about .text .name {
  font-family: Roboto;
  color: #666666;
  font-size: 36px;
  font-weight: 900;
  line-height: 24px;
}
.mainblock .mainblock_about .text .line {
  margin: 20px 0;
  background-color: #ffcc00;
  width: 100px;
  height: 1px;
}
.mainblock .mainblock_about .text .position {
  font-family: Raleway;
  color: #666666;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}
.mainblock .mainblock_about .text .social {
  margin: 30px 0 25px;
  font-family: FontAwesome;
  color: #cccccc;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
.mainblock .mainblock_about .text .textInfo {
  text-align: center;
  font-family: Raleway;
  color: #333333;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  width: 416px;
}
.mainblock .mainblock_about .text .lines {
  margin: 23px 0;
  display: flex;
  justify-content: space-between;
  width: 50px;
  height: 4px;
}
.mainblock .mainblock_about .text .lines .first,
.mainblock .mainblock_about .text .lines .third {
  background: #ffcc00;
  width: 10px;
}
.mainblock .mainblock_about .text .lines .second {
  background: #ffcc00;
  width: 20px;
}
.mainblock .mainblock_about .text .button {
  border-width: 1px;
  border-color: #ffcc00;
  border-style: solid;
  background: transparent;
  width: 120px;
  height: 22px;
  transition: 0.8s;
}
.mainblock .mainblock_about .text .button:hover {
  background: #ffcc00;
}
.mainblock .mainblock_about .text .button .btn {
  font-family: OpenSans;
  color: #666666;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}
