
* {
	font-size: 30px ;
}

body {
	background: #F0ECFF;
	margin-top: 20%;

}
div {
  display:flex;
  align-items: center;
  background: white;
  height: 90px;
  
 
}
.line {
  width:800px;
  display:flex;
  justify-content: center;
  margin:auto;
  margin-bottom:50px;
  padding-right: 25px;
  box-shadow: 0 2px 5px;
  border-radius: 3px;
  
}
.bloc-1el {
}
.bloc-3el:last-chield  {

}