
@font-face {
    font-family: 'big_johnregular';
    src: url('bigjohn-webfont.woff2') format('woff2'),
         url('bigjohn-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'slim_joeregular';
    src: url('slimjoe-webfont.woff2') format('woff2'),
         url('slimjoe-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.logo {
    width: 100px;
}
.header {
    height: 640px;
    background: url(..//img/header-bg.jpg) no-repeat;
    position: relative;
    min-width: 1140px;

}
.header::before {
    content: '';
    position: absolute;
    background-color: #3c4955;
    width: 100%;
    height: 100%;
    opacity: .85;

}
.header_inner {
    position: relative;
    z-index: 1;
    width: 1140px;
    margin: auto;
    padding: 36px 0;
}

.navigation {
    display: flex;
    align-items: center;
}

.header_link {
    text-decoration: none;
     color: white;
    font: 16px/1 Arial, sans-serif;

}
.header_menu_item {
    color: #5B6A73;
    font: 18px/1 Arial, sans-serif;
}
.header_menu {
    display: flex;
    width:550px;
    margin-left: 406px;
    justify-content: space-between;
    
}
.header_title {
    width:1140px;
    margin-top: 150px;
    display:flex;
    flex-direction: column;
    align-items: center;
    color: white;
    
}
h2,h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
h2 {
    font: 46px/1 'big_johnregular', sans-serif;
    margin-bottom: 22px;
    font-weight:900;
}
h3 {
    font: 30px/1 'big_johnregular', sans-serif;
    font-weight: lighter;
}
.button_header {
    margin-top: 47px;
    display: flex;
    justify-content: center;
}

.button {
    width:140px;
    height: 40px;
    color: #00C06E; 
    text-decoration: none; 
    user-select: none; 
    background: transparent; 
    border: 2px solid currentColor;
    outline: none; 
    text-transform: uppercase;
}